<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" aria-label="Fourth navbar example">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <i class="fa fa-leaf" aria-hidden="true">Oshop</i>
        </a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/shopping-cart">
                        <i class="fa fa-shopping-cart" aria-hidden="true">My Cart </i>

                        <span *ngIf="cart$ | async as cart" class="badge bg-warning  text-dark badge-pill">
                            {{ cart.totalItemsCount }} products
                        </span>
                     </a>
                </li>
            </ul>
            <ul class="navbar-nav ">
                
                <li class="nav-item">
                </li>
                <ng-template #anonymousUser> 
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li>
                </ng-template>
                
                
                <li ngbDropdown *ngIf="appUser; else anonymousUser "  class="nav-item dropdown  ">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown04" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                         {{appUser.name}} 
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdown01">
                        <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
                        <ng-container *ngIf="appUser.isAdmin">
                            <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
                        <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
                        </ng-container>
                       <a class="dropdown-item" (click)="logout()">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>